.center {
  margin-top: 100px;
  color: #242424;
  gap: 10px;
}

.container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

span {
  color: #1572d3;
}

.title {
  font-size: 40px;
}

.image {
  width: 100%;
  max-width: 690px;
  margin-top: 100px;
  margin-left: auto;
}

.div_buttons {
  display: flex;
  gap: 10px;
}

.button {
  border: none;
  gap: 20px;
  cursor: pointer;
}
